<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forum Bundle | Home Forum</title>
    <link href="https://blogbundle.000webhostapp.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blogbundle.000webhostapp.com/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://blogbundle.000webhostapp.com/css/animate.min.css" rel="stylesheet">
    <link href="https://blogbundle.000webhostapp.com/css/lightbox.css" rel="stylesheet">
    <link href="https://blogbundle.000webhostapp.com/css/main.css" rel="stylesheet">
    <link href="https://blogbundle.000webhostapp.com/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://blogbundle.000webhostapp.com/js/html5shiv.js"></script>
    <script src="https://blogbundle.000webhostapp.com/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://blogbundle.000webhostapp.com/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://blogbundle.000webhostapp.com/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="hhttps://blogbundle.000webhostapp.com/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="https://blogbundle.000webhostapp.com/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
<header id="header">
    <div class="container">
        <div class="row">

        </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <h1>Forum</h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('forum') }}">Home</a></li>
                    <li><a href="{{ path('forum_solved_questions') }}">Solved</a></li>
                    <li><a href="{{ path('forum_unsolved_questions') }}">Unsolved</a></li>
                </ul>
            </div>
            <div class="search">
                <form method="POST">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" name="search" id="search" autocomplete="off" placeholder="Search a question">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<!--/#header-->


<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">Question Details</h1>
                        <p>{{ title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                <a href="#"><img src="images/blog/7.jpg" class="img-responsive" alt=""></a>
                                <div class="post-overlay">
                                    <span class="uppercase"><a href="#">14 <br><small>Feb</small></a></span>
                                </div>
                            </div>
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="#">{{ title }}</a></h2>
                                <h3 class="post-author"><a href="#">Posted by {{ creator.username }}</a></h3>
                                <p>{{ body}} </p>
                                <div class="post-bottom overflow">
                                    <ul class="nav navbar-nav post-nav">
                                        <li><a href="#">{{ category.name }}</a></li>

                                    </ul>
                                </div>
                                <div class="blog-share">
                                    <span class='st_facebook_hcount'></span>
                                    <span class='st_twitter_hcount'></span>
                                    <span class='st_linkedin_hcount'></span>
                                    <span class='st_pinterest_hcount'></span>
                                    <span class='st_email_hcount'></span>
                                </div>
                                <div class="author-profile padding">
                                    <div class="row">

                                        <div class="col-sm-10">

                                            <h5 class="card-header">Leave a Comment:</h5>
                                            <div class="card-body">
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                <form action="{{ path('comment_question') }}" method="post" id="comment">


                                                    <div class="form-group">
                                                        <textarea class="form-control" name="comment" placeholder="Write your answer here..." rows="3"></textarea><br>
                                                        <input type="hidden"  name="question_id" value="{{ questions.getId() }}">
                                                        <button  class="btn btn-submit" type="submit">Comment</button>
                                                    </div>
                                                </form>

                                            </div>
                                            {% elseif is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                            <div class="alert alert-danger" role="alert">
                                                You need to be signed in in order to post a comment Sign in Or
                                             Register
                                                {% endif %}

                                            </div>
                                        </div>


                                        <!-- Single Comment -->
                                        {% for comment in questions.comments %}
                                            <div class="thumb-list">
                                                <figure><img alt="" src=""></figure>
                                                <div class="text-holder">

                                                    <h6><strong>{{comment.getUser().getUsername()}}</strong>  <p> {{ comment.getComment() }}</p></h6>
                                                    <time class="post-date" datetime="2008-02-14 20:00">{{ comment.getCreatedAt()|date }}</time>



                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>



                                </div>

                            </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator">
                <img src="https://blogbundle.000webhostapp.com/images/home/under.png" class="img-responsive inline" alt="">
            </div>

            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; Firas Jerbi 2021. All Rights Reserved.</p>
                    <p>Forum Bundle developed by <a target="_blank" href="https://fjerbi.github.io">Firas Jerbi</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script type="text/javascript" src="https://blogbundle.000webhostapp.com/js/jquery.js"></script>
<script type="text/javascript" src="https://blogbundle.000webhostapp.com/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://blogbundle.000webhostapp.com/js/lightbox.min.js"></script>
<script type="text/javascript" src="https://blogbundle.000webhostapp.com/js/wow.min.js"></script>
<script type="text/javascript" src="https://blogbundle.000webhostapp.com/js/main.js"></script>
</body>
</html>